<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">RaceHub Community</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- eventuali CSS/JS extra specifici della singola pagina -->
    <th:block layout:fragment="head-extra"></th:block>
</head>
<body>

<header th:replace="~{components/navbar :: navbar}"></header>

<main layout:fragment="content">
    <!-- placeholder, verrà sostituito dal contenuto della pagina figlia -->
</main>

<footer th:replace="~{components/footer :: footer}"></footer>


</body>
</html>