<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base}">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Home</title>
</head>

<body>

<main layout:fragment="content">

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-left">
            <p class="top">LA COMMUNITY ITALIANA DI</p>
            <h1 class="AssettoCorsa">ASSETTO CORSA</h1>
            <p class="down">Unisciti alla community italiana di Assetto Corsa. <br>
                partecipa agli eventi, migliora la tua performance<br>
                e vivi la passione per il sim racing.</p>

        </div>

        <div class="hero-right" th:if="${nextEvent != null}">
            <div class="hero-card">
                <p style="
        color: #ffffffed;
        font-weight: 400;
        padding-top: 6px;
        text-align: center;
        ">NEXT EVENT - <span th:text="${nextEvent.title}"> </span></p>
                <div class="separator"></div>
                <div class="card-image card-image-small"
                     th:style="'background-image: url(/images/tracks/' + ${nextEvent.trackImageUrl} + ')'">
                    <div class="track-name" th:text="${nextEvent.trackName}">Track</div>
                </div>
                <div class="card-description">
                    <p>
                        <i class="bi bi-calendar-event"></i>
                        <span th:text="${#temporals.format(nextEvent.startTime, 'dd MMMM yyyy')}">--:--</span>
                    </p>
                    <p>
                        <i class="bi bi-clock"></i>
                        <span th:text="${#temporals.format(nextEvent.startTime, 'HH:mm')}">--:--</span>
                    </p>
                    <p>
                        <i class="bi bi-car-front-fill"></i>
                        <span th:text="${nextEvent.carName}">Car</span>
                    </p>
                    <p>
                        <i class="bi bi-people"></i>
                        <span th:text="${nextEvent.registeredPlayers} + '/' + ${nextEvent.maxPlayers}">--/--</span>
                    </p>
                </div>

                <div class="buttons-card">
                    <a th:href="@{/events}" class="btn btn-card">
                        <i class="bi bi-info-circle"></i> INFO
                    </a>
                    <form th:action="@{/events/{id}/register(id=${nextEvent.id})}" method="post">
                        <button type="submit" class="btn btn-card">SIGN UP</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="hero-right" th:if="${nextEvent == null}">
            <div class="hero-card">
                <p style="
        color: #ffffffed;
        font-weight: 400;
        padding-top: 6px;
        text-align: center;
        ">NO UPCOMING EVENTS </p>
                <div class="separator"></div>
                <div class="card-image">
                    <div class="track-name">---</div>
                </div>
                <div class="card-description">
                    <p>
                        <i class="bi bi-calendar-event"></i>
                        <span>--:--</span>
                    </p>
                    <p>
                        <i class="bi bi-clock"></i>
                        <span>--:--</span>
                    </p>
                    <p>
                        <i class="bi bi-car-front-fill"></i>
                        <span>---</span>
                    </p>
                    <p>
                        <i class="bi bi-people"></i>
                        <span>--/--</span>
                    </p>
                </div>

            </div>
        </div>
    </section>

    <div th:replace="~{components/events-list :: eventsList(${scheduledEvents}, true)}"></div>

    <!-- NEWS + SIDEBAR -->
    <section class="news-partners">
        <div class="news">Ultime News</div>
        <div class="sidebar">Partner + CTA</div>
    </section>

    <th:block th:if="${showUpdateProfile}">
        <div class="profile-modal-overlay">
            <div th:replace="~{components/update-profile-form :: update-profile-form}"></div>
        </div>
    </th:block>

</main>

</body>
</html>